<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <title>Weather</title>
  </head>
  <body class="bg-gray-400">
    <%-include("partials/navbar") %>
    <div
      class="flex flex-col justify-center items-center text-2xl max-sm:text-xl space-y-4 font-mono text-yellow-200 font-semibold"
    >
      <div
        class="flex flex-col justify-center items-center border-4 space-y-2 h-60 w-150 max-sm:w-100 max-[400px]:w-50 max-[400px]:text-sm rounded-3xl border-black p-2"
      >
        <div>
          <label for="city">ENTER YOUR CITY : </label>
          <input
            type="text"
            id="city"
            placeholder="lahore"
            class="text-white p-2"
          />
        </div>
        <button
          type="button"
          onclick="getweather()"
          class="bg-white text-black border-4 border-gray-500 hover:bg-gray-300 rounded-3xl p-2"
        >
          GET WEATHER
        </button>
      </div>
      <div
        id="values"
        class="flex flex-col justify-center items-center border-4 h-60 w-150 max-sm:w-100 max-[400px]:w-50 rounded-3xl max-[400px]:text-sm border-black"
      ></div>
    </div>
    <script>
      function getweather() {
        const city = document.getElementById("city").value;

        axios.get(`/all/${city}`).then((res) => {
          const data = res.data;
          const container = document.getElementById("values");
          container.innerHTML = "";

          const cond = data.conditions.toLowerCase();
          let imgSrc = "";

          if (cond.includes("rain")) {
            imgSrc = "../data/rain.png";
          } else if (cond.includes("cloud")) {
            imgSrc = "../data/overcast.png";
          } else if (cond.includes("clear")) {
            imgSrc = "../data/sunny.png";
          } else if (cond.includes("snow")) {
            imgSrc = "../data/snow.png";
          } else if (cond.includes("thunder")) {
            imgSrc = "../data/thunder.png";
          }

          const img = document.createElement("img");
          img.src = imgSrc;
          img.alt = data.conditions;
          img.width = 100;

          container.appendChild(img);
          const p1 = document.createElement("p");
          p1.innerHTML = `<h2>City : ${city}</h>
                   <h1>Temprature:${res.data.temp}</h1>
                   <h2>Humidity:${res.data.humidity}</h2>
                   <h3>Conditions:${res.data.conditions}</h3> `;
          container.appendChild(p1);
        });
      }
    </script>
  </body>
</html>
